In [1]:
import requests
from bs4 import BeautifulSoup

# URL of the Cricsheet matches page
url = 'https://cricsheet.org/matches/'

# Send a GET request to fetch the page content
response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

# Find all anchor tags with href attributes containing '.json'
json_links = [a['href'] for a in soup.find_all('a', href=True) if '.json' in a['href']]

# Download each JSON file
for link in json_links:
    # Construct the full URL
    full_url = f'https://cricsheet.org{link}'
    # Send a GET request to fetch the JSON file
    json_response = requests.get(full_url)
    # Extract the filename from the URL
    filename = link.split('/')[-1]
    # Save the JSON file
    with open(f'data/raw/{filename}', 'wb') as f:
        f.write(json_response.content)
    print(f'Downloaded: {filename}')

In [10]:
import os
import json
import pandas as pd
import logging
import traceback
from sqlalchemy import create_engine   # optional for DB save

# set a logger to capture parsing issues
logging.basicConfig(filename='cricsheet_parse.log', level=logging.INFO,
                    format='%(asctime)s %(levelname)s: %(message)s')

def normalize_string(s):
    if s is None:
        return None
    return str(s).strip()

def parse_single_match(file_path, match_type):
    """
    Parse one Cricsheet JSON file into:
      - one match-level dict
      - list of delivery (ball-level) dicts
    """
    with open(file_path, 'r', encoding='utf-8') as f:
        data = json.load(f)

    info = data.get('info', {}) or {}

    match_id = os.path.splitext(os.path.basename(file_path))[0]

    # date handling
    dates = info.get('dates')
    if isinstance(dates, list) and len(dates) > 0:
        date = dates[0]
    elif isinstance(dates, str):
        date = dates
    else:
        date = None

    city = info.get('city')
    venue = info.get('venue')
    teams = info.get('teams') or []
    toss = info.get('toss') or {}
    outcome = info.get('outcome') or {}

    # outcome can be complex: normalize to runs/wickets fields
    winner = outcome.get('winner')
    result_type = outcome.get('result')  # e.g., 'tie', 'draw' sometimes
    by = outcome.get('by')
    result_by_runs = None
    result_by_wickets = None
    if isinstance(by, dict):
        result_by_runs = by.get('runs')
        result_by_wickets = by.get('wickets')
    else:
        # keep raw string if sometimes it's a string
        pass

    match_row = {
        'match_id': match_id,
        'match_type': match_type,
        'date': date,
        'city': city,
        'venue': venue,
        'team1': teams[0] if len(teams) > 0 else None,
        'team2': teams[1] if len(teams) > 1 else None,
        'toss_winner': toss.get('winner'),
        'toss_decision': toss.get('decision'),
        'winner': winner,
        'result_type': result_type,
        'result_by_runs': result_by_runs,
        'result_by_wickets': result_by_wickets
    }

    deliveries = []
    innings_list = data.get('innings', []) or []

    for inning in innings_list:
        # handle two possible structures:
        # 1) inning is a dict with keys 'team' and 'overs'
        # 2) inning is like {'1st innings': { 'team':..., 'overs':[...] }}
        if 'overs' not in inning:
            # try to find the nested dict
            inner = None
            for v in inning.values():
                if isinstance(v, dict):
                    inner = v
                    break
            if inner:
                inning_dict = inner
            else:
                # unexpected structure -> skip
                logging.warning(f"Unexpected inning structure in {file_path}: {inning}")
                continue
        else:
            inning_dict = inning

        team = inning_dict.get('team')
        for over in inning_dict.get('overs', []) or []:
            over_number = over.get('over')
            deliveries_list = over.get('deliveries') or []

            for delivery in deliveries_list:
                # delivery may be either:
                # - dict with fields directly: {'batter':..., 'bowler':..., 'runs': {...}}
                # - or a wrapper like {'0.1': { ...fields... }}
                if 'batter' in delivery or 'bowler' in delivery or 'runs' in delivery:
                    d = delivery
                    ball_id = None
                else:
                    # attempt to extract nested dict (e.g., {'0.1': {...}})
                    try:
                        # pick first value that is a dict
                        first_val = next(iter(delivery.values()))
                        if isinstance(first_val, dict):
                            ball_id = next(iter(delivery.keys()))
                            d = first_val
                        else:
                            d = delivery
                            ball_id = None
                    except Exception:
                        d = delivery
                        ball_id = None

                runs = d.get('runs') or {}
                runs_batter = runs.get('batter', 0)
                runs_extras = runs.get('extras', 0)
                runs_total = runs.get('total', runs_batter + runs_extras)

                wicket_obj = d.get('wicket') if isinstance(d.get('wicket'), dict) else None
                wicket_kind = wicket_obj.get('kind') if wicket_obj else None
                player_out = wicket_obj.get('player_out') if wicket_obj else None

                deliveries.append({
                    'match_id': match_id,
                    'match_type': match_type,
                    'date': date,
                    'city': city,
                    'team': team,
                    'over': over_number,
                    'ball_id': ball_id,   # may be None or '0.1' etc
                    'batter': normalize_string(d.get('batter')),
                    'non_striker': normalize_string(d.get('non_striker')),
                    'bowler': normalize_string(d.get('bowler')),
                    'runs_batter': runs_batter,
                    'runs_extras': runs_extras,
                    'runs_total': runs_total,
                    'wicket_kind': wicket_kind,
                    'player_out': normalize_string(player_out)
                })

    return match_row, deliveries

def parse_folder(folder_path, match_type):
    matches = []
    deliveries = []
    files = [f for f in os.listdir(folder_path) if f.endswith('.json')]

    for fname in files:
        fp = os.path.join(folder_path, fname)
        try:
            mrow, drows = parse_single_match(fp, match_type)
            matches.append(mrow)
            deliveries.extend(drows)
        except Exception as e:
            logging.error(f"Failed parsing {fp}: {e}\n{traceback.format_exc()}")
            continue

    matches_df = pd.DataFrame(matches)
    deliveries_df = pd.DataFrame(deliveries)
    return matches_df, deliveries_df

In [11]:
# update these paths to your local folders
folders = {
    'IPL': r"C:\py project\cricsheet_project\data\Raw\IPL",
    'ODI': r"C:\py project\cricsheet_project\data\Raw\ODI",
    'T20': r"C:\py project\cricsheet_project\data\Raw\T20",
    'TEST': r"C:\py project\cricsheet_project\data\Raw\TEST"
}

all_matches = []
all_deliveries = []

for mtype, folder in folders.items():
    if not os.path.isdir(folder):
        print(f"Folder not found: {folder} (skipping {mtype})")
        continue
    print(f"Parsing folder: {folder} as {mtype}")
    m_df, d_df = parse_folder(folder, mtype)
    print(f"  -> matches: {m_df.shape[0]} | deliveries: {d_df.shape[0]}")
    all_matches.append(m_df)
    all_deliveries.append(d_df)

matches_df = pd.concat(all_matches, ignore_index=True) if all_matches else pd.DataFrame()
deliveries_df = pd.concat(all_deliveries, ignore_index=True) if all_deliveries else pd.DataFrame()

Parsing folder: C:\py project\cricsheet_project\data\Raw\IPL as IPL
  -> matches: 1169 | deliveries: 278205
Parsing folder: C:\py project\cricsheet_project\data\Raw\ODI as ODI
  -> matches: 3000 | deliveries: 1588920
Parsing folder: C:\py project\cricsheet_project\data\Raw\T20 as T20
  -> matches: 4570 | deliveries: 1034413
Parsing folder: C:\py project\cricsheet_project\data\Raw\TEST as TEST
  -> matches: 879 | deliveries: 1700455

In [12]:
print("Matches table shape:", matches_df.shape)
display(matches_df.head())

print("\nDeliveries table shape:", deliveries_df.shape)
display(deliveries_df.head())

# missing values summary
print("\nMatches missing values:")
print(matches_df.isnull().sum())

print("\nDeliveries missing values (top):")
print(deliveries_df.isnull().sum().sort_values(ascending=False).head(20))

Matches table shape: (9618, 13)

,match_id,match_type,date,city,venue,team1,team2,toss_winner,toss_decision,winner,result_type,result_by_runs,result_by_wickets
0,1082591,IPL,2017-04-05,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad,None,35.0,NaN
1,1082592,IPL,2017-04-06,Pune,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,Mumbai Indians,Rising Pune Supergiant,field,Rising Pune Supergiant,None,NaN,7.0
2,1082593,IPL,2017-04-07,Rajkot,Saurashtra Cricket Association Stadium,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,None,NaN,10.0
3,1082594,IPL,2017-04-08,Indore,Holkar Cricket Stadium,Kings XI Punjab,Rising Pune Supergiant,Kings XI Punjab,field,Kings XI Punjab,None,NaN,6.0
4,1082595,IPL,2017-04-08,Bengaluru,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,None,15.0,NaN

Deliveries table shape: (4601993, 15)

,match_id,match_type,date,city,team,over,ball_id,batter,non_striker,bowler,runs_batter,runs_extras,runs_total,wicket_kind,player_out
0,1082591,IPL,2017-04-05,Hyderabad,Sunrisers Hyderabad,0,None,DA Warner,S Dhawan,TS Mills,0,0,0,None,None
1,1082591,IPL,2017-04-05,Hyderabad,Sunrisers Hyderabad,0,None,DA Warner,S Dhawan,TS Mills,0,0,0,None,None
2,1082591,IPL,2017-04-05,Hyderabad,Sunrisers Hyderabad,0,None,DA Warner,S Dhawan,TS Mills,4,0,4,None,None
3,1082591,IPL,2017-04-05,Hyderabad,Sunrisers Hyderabad,0,None,DA Warner,S Dhawan,TS Mills,0,0,0,None,None
4,1082591,IPL,2017-04-05,Hyderabad,Sunrisers Hyderabad,0,None,DA Warner,S Dhawan,TS Mills,0,2,2,None,None

Matches missing values:
match_id                0
match_type              0
date                    0
city                  634
venue                   0
team1                   0
team2                   0
toss_winner             0
toss_decision           0
winner                476
result_type          9142
result_by_runs       4975
result_by_wickets    5122
dtype: int64

Deliveries missing values (top):
ball_id        4601993
player_out     4601993
wicket_kind    4601993
city            422071
match_type           0
date                 0
match_id             0
over                 0
team                 0
batter               0
non_striker          0
runs_batter          0
bowler               0
runs_total           0
runs_extras          0
dtype: int64

In [13]:
print(matches_df['winner'].isnull().sum(), "matches without winner info")
print(matches_df['city'].isnull().sum(), "matches without city info")
print(deliveries_df[['batter','bowler']].isnull().sum())

476 matches without winner info
634 matches without city info
batter    0
bowler    0
dtype: int64

In [15]:
# Step 1: Handle missing winners
matches_df['winner'] = matches_df['winner'].fillna('No result')

# Step 2: Map venue â†’ city (only where city is missing)
venue_city_map = matches_df.dropna(subset=['venue', 'city']).set_index('venue')['city'].to_dict()

matches_df['city'] = matches_df.apply(
    lambda x: venue_city_map.get(x['venue'], x['city']), axis=1
)

# Step 3: Create match result column
def get_result(row):
    if pd.notna(row.get('result_by_runs')):
        return f"{int(row['result_by_runs'])} runs"
    elif pd.notna(row.get('result_by_wickets')):
        return f"{int(row['result_by_wickets'])} wickets"
    elif pd.notna(row.get('result_type')):
        return row['result_type']
    else:
        return "Unknown"

matches_df['match_result'] = matches_df.apply(get_result, axis=1)

# Step 4: Add ball_id to deliveries (serial ball number in each match)
deliveries_df['ball_id'] = deliveries_df.groupby('match_id').cumcount() + 1

In [16]:
# Re-check for missing cities after mapping
missing_city_mask = matches_df['city'].isna() | (matches_df['city'] == "")

# Fill remaining missing cities with "Unknown"
matches_df.loc[missing_city_mask, 'city'] = "Unknown"

In [17]:
matches_df['city'].value_counts().head(10)   # top 10 most common cities
matches_df['city'].eq("Unknown").sum()      # count of Unknown cities

np.int64(41)

In [22]:
import pandas as pd
from sqlalchemy import create_engine, String, Integer, Date
from datetime import datetime

# Ensure your date columns are in datetime.date format
matches_df['date'] = pd.to_datetime(matches_df['date']).dt.date
deliveries_df['date'] = pd.to_datetime(deliveries_df['date']).dt.date

# Create SQLite engine
engine = create_engine('sqlite:///cricsheet.db', echo=True)

# Save matches_df to SQLite
matches_df.to_sql(
    'matches',
    con=engine,
    if_exists='replace',
    index=False,
    dtype={
        'match_id': String,
        'match_type': String,
        'date': Date,
        'city': String,
        'venue': String,
        'team1': String,
        'team2': String,
        'toss_winner': String,
        'toss_decision': String,
        'winner': String,
        'result_type': String,
        'result_by_runs': Integer,
        'result_by_wickets': Integer,
        'match_result': String
    }
)

# Save deliveries_df to SQLite
deliveries_df.to_sql(
    'deliveries',
    con=engine,
    if_exists='replace',
    index=False,
    dtype={
        'match_id': String,
        'ball_id': Integer,
        'date': Date,
        'city': String,
        'team': String,
        'over': Integer,
        'batter': String,
        'non_striker': String,
        'bowler': String,
        'runs_batter': Integer,
        'runs_extras': Integer,
        'runs_total': Integer,
        'wicket_kind': String,
        'player_out': String
    }
)

print("DataFrames saved to SQLite database successfully!")

2025-09-13 10:03:11,930 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 10:03:11,939 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("matches")
2025-09-13 10:03:11,941 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:11,941 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("matches")
2025-09-13 10:03:11,941 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:11,941 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-09-13 10:03:11,941 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:11,950 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-09-13 10:03:11,950 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:11,954 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("matches")
2025-09-13 10:03:11,957 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:11,959 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-13 10:03:11,964 INFO sqlalchemy.engine.Engine [raw sql] ('matches',)
2025-09-13 10:03:11,968 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("matches")
2025-09-13 10:03:11,970 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:11,971 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("matches")
2025-09-13 10:03:11,973 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:11,973 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-13 10:03:11,975 INFO sqlalchemy.engine.Engine [raw sql] ('matches',)
2025-09-13 10:03:11,975 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("matches")
2025-09-13 10:03:11,977 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:11,978 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("matches")
2025-09-13 10:03:11,981 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:11,981 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("matches")
2025-09-13 10:03:11,983 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:11,985 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("matches")
2025-09-13 10:03:11,985 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:11,986 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("matches")
2025-09-13 10:03:11,987 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:11,988 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("matches")
2025-09-13 10:03:11,988 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,024 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-13 10:03:12,034 INFO sqlalchemy.engine.Engine [raw sql] ('matches',)
2025-09-13 10:03:12,056 INFO sqlalchemy.engine.Engine
DROP TABLE matches
2025-09-13 10:03:12,058 INFO sqlalchemy.engine.Engine [no key 0.00206s] ()
2025-09-13 10:03:12,081 INFO sqlalchemy.engine.Engine
CREATE TABLE matches (
	match_id VARCHAR,
	match_type VARCHAR,
	date DATE,
	city VARCHAR,
	venue VARCHAR,
	team1 VARCHAR,
	team2 VARCHAR,
	toss_winner VARCHAR,
	toss_decision VARCHAR,
	winner VARCHAR,
	result_type VARCHAR,
	result_by_runs INTEGER,
	result_by_wickets INTEGER,
	match_result VARCHAR
)


2025-09-13 10:03:12,082 INFO sqlalchemy.engine.Engine [no key 0.00087s] ()
2025-09-13 10:03:12,201 INFO sqlalchemy.engine.Engine INSERT INTO matches (match_id, match_type, date, city, venue, team1, team2, toss_winner, toss_decision, winner, result_type, result_by_runs, result_by_wickets, match_result) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-09-13 10:03:12,201 INFO sqlalchemy.engine.Engine [generated in 0.08198s] [('1082591', 'IPL', '2017-04-05', 'Hyderabad', 'Rajiv Gandhi International Stadium, Uppal', 'Sunrisers Hyderabad', 'Royal Challengers Bangalore', 'Royal Challengers Bangalore', 'field', 'Sunrisers Hyderabad', None, 35.0, None, '35 runs'), ('1082592', 'IPL', '2017-04-06', 'Pune', 'Maharashtra Cricket Association Stadium', 'Rising Pune Supergiant', 'Mumbai Indians', 'Rising Pune Supergiant', 'field', 'Rising Pune Supergiant', None, None, 7.0, '7 wickets'), ('1082593', 'IPL', '2017-04-07', 'Rajkot', 'Saurashtra Cricket Association Stadium', 'Gujarat Lions', 'Kolkata Knight Riders', 'Kolkata Knight Riders', 'field', 'Kolkata Knight Riders', None, None, 10.0, '10 wickets'), ('1082594', 'IPL', '2017-04-08', 'Indore', 'Holkar Cricket Stadium', 'Kings XI Punjab', 'Rising Pune Supergiant', 'Kings XI Punjab', 'field', 'Kings XI Punjab', None, None, 6.0, '6 wickets'), ('1082595', 'IPL', '2017-04-08', 'Bengaluru', 'M.Chinnaswamy Stadium', 'Royal Challengers Bangalore', 'Delhi Daredevils', 'Royal Challengers Bangalore', 'bat', 'Royal Challengers Bangalore', None, 15.0, None, '15 runs'), ('1082596', 'IPL', '2017-04-09', 'Hyderabad', 'Rajiv Gandhi International Stadium, Uppal', 'Sunrisers Hyderabad', 'Gujarat Lions', 'Sunrisers Hyderabad', 'field', 'Sunrisers Hyderabad', None, None, 9.0, '9 wickets'), ('1082597', 'IPL', '2017-04-09', 'Mumbai', 'Wankhede Stadium', 'Mumbai Indians', 'Kolkata Knight Riders', 'Mumbai Indians', 'field', 'Mumbai Indians', None, None, 4.0, '4 wickets'), ('1082598', 'IPL', '2017-04-10', 'Indore', 'Holkar Cricket Stadium', 'Kings XI Punjab', 'Royal Challengers Bangalore', 'Royal Challengers Bangalore', 'bat', 'Kings XI Punjab', None, None, 8.0, '8 wickets')  ... displaying 10 of 9618 total bound parameter sets ...  ('995453', 'TEST', '2016-08-04', 'Galle', 'Galle International Stadium', 'Sri Lanka', 'Australia', 'Sri Lanka', 'bat', 'Sri Lanka', None, 229.0, None, '229 runs'), ('995455', 'TEST', '2016-08-13', 'Colombo', 'Sinhalese Sports Club Ground', 'Sri Lanka', 'Australia', 'Sri Lanka', 'bat', 'Sri Lanka', None, 163.0, None, '163 runs')]
2025-09-13 10:03:12,255 INFO sqlalchemy.engine.Engine COMMIT
2025-09-13 10:03:12,261 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 10:03:12,305 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("deliveries")
2025-09-13 10:03:12,311 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,311 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("deliveries")
2025-09-13 10:03:12,311 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,311 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-09-13 10:03:12,311 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,311 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='view' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2025-09-13 10:03:12,311 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,311 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("deliveries")
2025-09-13 10:03:12,319 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,319 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-13 10:03:12,321 INFO sqlalchemy.engine.Engine [raw sql] ('deliveries',)
2025-09-13 10:03:12,322 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("deliveries")
2025-09-13 10:03:12,322 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,322 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("deliveries")
2025-09-13 10:03:12,322 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,322 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-13 10:03:12,322 INFO sqlalchemy.engine.Engine [raw sql] ('deliveries',)
2025-09-13 10:03:12,322 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("deliveries")
2025-09-13 10:03:12,322 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,322 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("deliveries")
2025-09-13 10:03:12,322 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,322 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("deliveries")
2025-09-13 10:03:12,331 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,331 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("deliveries")
2025-09-13 10:03:12,331 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,331 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("deliveries")
2025-09-13 10:03:12,331 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,335 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("deliveries")
2025-09-13 10:03:12,336 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:03:12,336 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-13 10:03:12,336 INFO sqlalchemy.engine.Engine [raw sql] ('deliveries',)
2025-09-13 10:03:12,339 INFO sqlalchemy.engine.Engine
DROP TABLE deliveries
2025-09-13 10:03:12,340 INFO sqlalchemy.engine.Engine [no key 0.00096s] ()
2025-09-13 10:03:12,344 INFO sqlalchemy.engine.Engine
CREATE TABLE deliveries (
	match_id VARCHAR,
	match_type TEXT,
	date DATE,
	city VARCHAR,
	team VARCHAR,
	over INTEGER,
	ball_id INTEGER,
	batter VARCHAR,
	non_striker VARCHAR,
	bowler VARCHAR,
	runs_batter INTEGER,
	runs_extras INTEGER,
	runs_total INTEGER,
	wicket_kind VARCHAR,
	player_out VARCHAR
)


2025-09-13 10:03:12,344 INFO sqlalchemy.engine.Engine [no key 0.00071s] ()
2025-09-13 10:04:03,922 INFO sqlalchemy.engine.Engine INSERT INTO deliveries (match_id, match_type, date, city, team, over, ball_id, batter, non_striker, bowler, runs_batter, runs_extras, runs_total, wicket_kind, player_out) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-09-13 10:04:03,940 INFO sqlalchemy.engine.Engine [generated in 42.57362s] [('1082591', 'IPL', '2017-04-05', 'Hyderabad', 'Sunrisers Hyderabad', 0, 1, 'DA Warner', 'S Dhawan', 'TS Mills', 0, 0, 0, None, None), ('1082591', 'IPL', '2017-04-05', 'Hyderabad', 'Sunrisers Hyderabad', 0, 2, 'DA Warner', 'S Dhawan', 'TS Mills', 0, 0, 0, None, None), ('1082591', 'IPL', '2017-04-05', 'Hyderabad', 'Sunrisers Hyderabad', 0, 3, 'DA Warner', 'S Dhawan', 'TS Mills', 4, 0, 4, None, None), ('1082591', 'IPL', '2017-04-05', 'Hyderabad', 'Sunrisers Hyderabad', 0, 4, 'DA Warner', 'S Dhawan', 'TS Mills', 0, 0, 0, None, None), ('1082591', 'IPL', '2017-04-05', 'Hyderabad', 'Sunrisers Hyderabad', 0, 5, 'DA Warner', 'S Dhawan', 'TS Mills', 0, 2, 2, None, None), ('1082591', 'IPL', '2017-04-05', 'Hyderabad', 'Sunrisers Hyderabad', 0, 6, 'S Dhawan', 'DA Warner', 'TS Mills', 0, 0, 0, None, None), ('1082591', 'IPL', '2017-04-05', 'Hyderabad', 'Sunrisers Hyderabad', 0, 7, 'S Dhawan', 'DA Warner', 'TS Mills', 0, 1, 1, None, None), ('1082591', 'IPL', '2017-04-05', 'Hyderabad', 'Sunrisers Hyderabad', 1, 8, 'S Dhawan', 'DA Warner', 'A Choudhary', 1, 0, 1, None, None)  ... displaying 10 of 4601993 total bound parameter sets ...  ('995455', 'TEST', '2016-08-13', 'Colombo', 'Australia', 43, 2462, 'JM Holland', 'NM Lyon', 'MDK Perera', 0, 0, 0, None, None), ('995455', 'TEST', '2016-08-13', 'Colombo', 'Australia', 44, 2463, 'NM Lyon', 'JM Holland', 'HMRKB Herath', 0, 0, 0, None, None)]
2025-09-13 10:04:21,175 INFO sqlalchemy.engine.Engine COMMIT
DataFrames saved to SQLite database successfully!

In [23]:
import pandas as pd

# Read matches
matches_sql = pd.read_sql("SELECT * FROM matches LIMIT 5", con=engine)
print(matches_sql)

# Read deliveries
deliveries_sql = pd.read_sql("SELECT * FROM deliveries LIMIT 5", con=engine)
print(deliveries_sql)

2025-09-13 10:06:10,040 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 10:06:10,040 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM matches LIMIT 5")
2025-09-13 10:06:10,043 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:06:10,044 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM matches LIMIT 5")
2025-09-13 10:06:10,044 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:06:10,044 INFO sqlalchemy.engine.Engine SELECT * FROM matches LIMIT 5
2025-09-13 10:06:10,051 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:06:10,101 INFO sqlalchemy.engine.Engine ROLLBACK
  match_id match_type        date       city  \
0  1082591        IPL  2017-04-05  Hyderabad
1  1082592        IPL  2017-04-06       Pune
2  1082593        IPL  2017-04-07     Rajkot
3  1082594        IPL  2017-04-08     Indore
4  1082595        IPL  2017-04-08  Bengaluru

                                       venue                        team1  \
0  Rajiv Gandhi International Stadium, Uppal          Sunrisers Hyderabad
1    Maharashtra Cricket Association Stadium       Rising Pune Supergiant
2     Saurashtra Cricket Association Stadium                Gujarat Lions
3                     Holkar Cricket Stadium              Kings XI Punjab
4                      M.Chinnaswamy Stadium  Royal Challengers Bangalore

                         team2                  toss_winner toss_decision  \
0  Royal Challengers Bangalore  Royal Challengers Bangalore         field
1               Mumbai Indians       Rising Pune Supergiant         field
2        Kolkata Knight Riders        Kolkata Knight Riders         field
3       Rising Pune Supergiant              Kings XI Punjab         field
4             Delhi Daredevils  Royal Challengers Bangalore           bat

                        winner result_type  result_by_runs  result_by_wickets  \
0          Sunrisers Hyderabad        None            35.0                NaN
1       Rising Pune Supergiant        None             NaN                7.0
2        Kolkata Knight Riders        None             NaN               10.0
3              Kings XI Punjab        None             NaN                6.0
4  Royal Challengers Bangalore        None            15.0                NaN

  match_result
0      35 runs
1    7 wickets
2   10 wickets
3    6 wickets
4      15 runs
2025-09-13 10:06:10,114 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 10:06:10,114 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("SELECT * FROM deliveries LIMIT 5")
2025-09-13 10:06:10,114 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:06:10,114 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("SELECT * FROM deliveries LIMIT 5")
2025-09-13 10:06:10,121 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:06:10,122 INFO sqlalchemy.engine.Engine SELECT * FROM deliveries LIMIT 5
2025-09-13 10:06:10,122 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:06:10,126 INFO sqlalchemy.engine.Engine ROLLBACK
  match_id match_type        date       city                 team  over  \
0  1082591        IPL  2017-04-05  Hyderabad  Sunrisers Hyderabad     0
1  1082591        IPL  2017-04-05  Hyderabad  Sunrisers Hyderabad     0
2  1082591        IPL  2017-04-05  Hyderabad  Sunrisers Hyderabad     0
3  1082591        IPL  2017-04-05  Hyderabad  Sunrisers Hyderabad     0
4  1082591        IPL  2017-04-05  Hyderabad  Sunrisers Hyderabad     0

   ball_id     batter non_striker    bowler  runs_batter  runs_extras  \
0        1  DA Warner    S Dhawan  TS Mills            0            0
1        2  DA Warner    S Dhawan  TS Mills            0            0
2        3  DA Warner    S Dhawan  TS Mills            4            0
3        4  DA Warner    S Dhawan  TS Mills            0            0
4        5  DA Warner    S Dhawan  TS Mills            0            2

   runs_total wicket_kind player_out
0           0        None       None
1           0        None       None
2           4        None       None
3           0        None       None
4           2        None       None

In [25]:
from sqlalchemy import Index, Table, MetaData

metadata = MetaData()  # no bind here
matches_table = Table('matches', metadata, autoload_with=engine)
deliveries_table = Table('deliveries', metadata, autoload_with=engine)

# Create indexes for faster querying
Index('idx_matches_match_id', matches_table.c.match_id).create(engine)
Index('idx_matches_winner', matches_table.c.winner).create(engine)
Index('idx_deliveries_match_id', deliveries_table.c.match_id).create(engine)
Index('idx_deliveries_ball_id', deliveries_table.c.ball_id).create(engine)
Index('idx_deliveries_team', deliveries_table.c.team).create(engine)

2025-09-13 10:09:21,564 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 10:09:21,566 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("matches")
2025-09-13 10:09:21,566 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,570 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-13 10:09:21,570 INFO sqlalchemy.engine.Engine [raw sql] ('matches',)
2025-09-13 10:09:21,577 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("matches")
2025-09-13 10:09:21,577 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,579 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("matches")
2025-09-13 10:09:21,581 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,581 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-13 10:09:21,581 INFO sqlalchemy.engine.Engine [raw sql] ('matches',)
2025-09-13 10:09:21,583 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("matches")
2025-09-13 10:09:21,583 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,585 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("matches")
2025-09-13 10:09:21,585 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,588 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("matches")
2025-09-13 10:09:21,588 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,589 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("matches")
2025-09-13 10:09:21,589 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,591 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("matches")
2025-09-13 10:09:21,591 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,593 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("matches")
2025-09-13 10:09:21,594 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,595 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-13 10:09:21,596 INFO sqlalchemy.engine.Engine [raw sql] ('matches',)
2025-09-13 10:09:21,598 INFO sqlalchemy.engine.Engine ROLLBACK
2025-09-13 10:09:21,600 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 10:09:21,600 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("deliveries")
2025-09-13 10:09:21,602 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,602 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-13 10:09:21,605 INFO sqlalchemy.engine.Engine [raw sql] ('deliveries',)
2025-09-13 10:09:21,606 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("deliveries")
2025-09-13 10:09:21,606 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,608 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("deliveries")
2025-09-13 10:09:21,609 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,609 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-13 10:09:21,609 INFO sqlalchemy.engine.Engine [raw sql] ('deliveries',)
2025-09-13 10:09:21,611 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("deliveries")
2025-09-13 10:09:21,612 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,612 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("deliveries")
2025-09-13 10:09:21,614 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,614 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("deliveries")
2025-09-13 10:09:21,615 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,617 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("deliveries")
2025-09-13 10:09:21,617 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,619 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("deliveries")
2025-09-13 10:09:21,619 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,621 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("deliveries")
2025-09-13 10:09:21,621 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-09-13 10:09:21,623 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type in ('table', 'view')
2025-09-13 10:09:21,623 INFO sqlalchemy.engine.Engine [raw sql] ('deliveries',)
2025-09-13 10:09:21,628 INFO sqlalchemy.engine.Engine ROLLBACK
2025-09-13 10:09:21,636 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 10:09:21,636 INFO sqlalchemy.engine.Engine CREATE INDEX idx_matches_match_id ON matches (match_id)
2025-09-13 10:09:21,636 INFO sqlalchemy.engine.Engine [no key 0.00116s] ()
2025-09-13 10:09:21,713 INFO sqlalchemy.engine.Engine COMMIT
2025-09-13 10:09:21,715 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 10:09:21,715 INFO sqlalchemy.engine.Engine CREATE INDEX idx_matches_winner ON matches (winner)
2025-09-13 10:09:21,715 INFO sqlalchemy.engine.Engine [no key 0.00124s] ()
2025-09-13 10:09:21,732 INFO sqlalchemy.engine.Engine COMMIT
2025-09-13 10:09:21,734 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 10:09:21,736 INFO sqlalchemy.engine.Engine CREATE INDEX idx_deliveries_match_id ON deliveries (match_id)
2025-09-13 10:09:21,736 INFO sqlalchemy.engine.Engine [no key 0.00105s] ()
2025-09-13 10:09:23,588 INFO sqlalchemy.engine.Engine COMMIT
2025-09-13 10:09:23,589 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 10:09:23,591 INFO sqlalchemy.engine.Engine CREATE INDEX idx_deliveries_ball_id ON deliveries (ball_id)
2025-09-13 10:09:23,591 INFO sqlalchemy.engine.Engine [no key 0.00098s] ()
2025-09-13 10:09:25,265 INFO sqlalchemy.engine.Engine COMMIT
2025-09-13 10:09:25,269 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-13 10:09:25,269 INFO sqlalchemy.engine.Engine CREATE INDEX idx_deliveries_team ON deliveries (team)
2025-09-13 10:09:25,269 INFO sqlalchemy.engine.Engine [no key 0.00116s] ()
2025-09-13 10:09:27,295 INFO sqlalchemy.engine.Engine COMMIT

In [26]:
import pandas as pd
from sqlalchemy import create_engine

# Connect to SQLite database
engine = create_engine('sqlite:///cricsheet.db')

# Quick test: show first 5 rows of matches
matches_df = pd.read_sql("SELECT * FROM matches LIMIT 5", con=engine)
matches_df

,match_id,match_type,date,city,venue,team1,team2,toss_winner,toss_decision,winner,result_type,result_by_runs,result_by_wickets,match_result
0,1082591,IPL,2017-04-05,Hyderabad,"Rajiv Gandhi International Stadium, Uppal",Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,Sunrisers Hyderabad,None,35.0,NaN,35 runs
1,1082592,IPL,2017-04-06,Pune,Maharashtra Cricket Association Stadium,Rising Pune Supergiant,Mumbai Indians,Rising Pune Supergiant,field,Rising Pune Supergiant,None,NaN,7.0,7 wickets
2,1082593,IPL,2017-04-07,Rajkot,Saurashtra Cricket Association Stadium,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,Kolkata Knight Riders,None,NaN,10.0,10 wickets
3,1082594,IPL,2017-04-08,Indore,Holkar Cricket Stadium,Kings XI Punjab,Rising Pune Supergiant,Kings XI Punjab,field,Kings XI Punjab,None,NaN,6.0,6 wickets
4,1082595,IPL,2017-04-08,Bengaluru,M.Chinnaswamy Stadium,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,Royal Challengers Bangalore,None,15.0,NaN,15 runs

In [56]:
import os
import pandas as pd
import json
from sqlalchemy import create_engine, String, Integer, Date

# ---------- 1ï¸âƒ£ Set paths ----------
data_folder = r"C:\py project\cricsheet_project\data\Raw"  # change if needed
db_path = 'sqlite:///cricsheet.db'  # SQLite database file

# ---------- 2ï¸âƒ£ Parse JSONs into DataFrames ----------
def normalize_string(s):
    return str(s).strip() if s else None

def parse_folder(folder_path, match_type):
    matches = []
    deliveries = []

    files = [f for f in os.listdir(folder_path) if f.endswith('.json')]
    for fname in files:
        fp = os.path.join(folder_path, fname)
        with open(fp, 'r', encoding='utf-8') as f:
            data = json.load(f)

        info = data.get('info', {})
        match_id = os.path.splitext(fname)[0]
        teams = info.get('teams', [])

        dates = info.get('dates')
        date = pd.to_datetime(dates[0]).date() if isinstance(dates, list) else None

        outcome = info.get('outcome', {})
        by = outcome.get('by', {})
        result_by_runs = by.get('runs') if isinstance(by, dict) else None
        result_by_wickets = by.get('wickets') if isinstance(by, dict) else None

        matches.append({
            'match_id': match_id,
            'match_type': match_type,
            'date': date,
            'team1': teams[0] if len(teams)>0 else None,
            'team2': teams[1] if len(teams)>1 else None,
            'winner': outcome.get('winner'),
            'result_type': outcome.get('result'),
            'result_by_runs': result_by_runs,
            'result_by_wickets': result_by_wickets
        })

        innings_list = data.get('innings', [])
        for inning in innings_list:
            if 'overs' not in inning:
                inner = next(iter(inning.values()), None)
                inning_dict = inner if isinstance(inner, dict) else {}
            else:
                inning_dict = inning

            team = inning_dict.get('team')
            for over in inning_dict.get('overs', []):
                over_number = over.get('over')
                for delivery in over.get('deliveries', []):
                    # handle nested dict
                    d = next(iter(delivery.values())) if not 'batter' in delivery else delivery
                    runs = d.get('runs', {})
                    wicket = d.get('wicket', {})
                    deliveries.append({
                        'match_id': match_id,
                        'match_type': match_type,
                        'date': date,
                        'team': team,
                        'over': over_number,
                        'batter': normalize_string(d.get('batter')),
                        'bowler': normalize_string(d.get('bowler')),
                        'runs_batter': runs.get('batter', 0),
                        'runs_extras': runs.get('extras', 0),
                        'runs_total': runs.get('total', 0),
                        'wicket_kind': wicket.get('kind') if isinstance(wicket, dict) else None,
                        'player_out': normalize_string(wicket.get('player_out')) if isinstance(wicket, dict) else None
                    })

    return pd.DataFrame(matches), pd.DataFrame(deliveries)

# ---------- 3ï¸âƒ£ Loop over match types ----------
all_matches = []
all_deliveries = []

folders = ['IPL','ODI','T20','TEST']

for mtype in folders:
    folder = os.path.join(data_folder, mtype)
    if os.path.isdir(folder):
        print(f"Parsing {mtype} folder: {folder}")
        m_df, d_df = parse_folder(folder, mtype)
        all_matches.append(m_df)
        all_deliveries.append(d_df)

matches_df = pd.concat(all_matches, ignore_index=True)
deliveries_df = pd.concat(all_deliveries, ignore_index=True)

print("Matches:", matches_df.shape)
print("Deliveries:", deliveries_df.shape)

# ---------- 4ï¸âƒ£ Save to SQLite ----------
engine = create_engine(db_path)

matches_df.to_sql('matches', con=engine, if_exists='replace', index=False,
                  dtype={
                      'match_id': String,
                      'match_type': String,
                      'date': Date,
                      'team1': String,
                      'team2': String,
                      'winner': String,
                      'result_type': String,
                      'result_by_runs': Integer,
                      'result_by_wickets': Integer
                  })

deliveries_df.to_sql('deliveries', con=engine, if_exists='replace', index=False,
                     dtype={
                         'match_id': String,
                         'match_type': String,
                         'date': Date,
                         'team': String,
                         'over': Integer,
                         'batter': String,
                         'bowler': String,
                         'runs_batter': Integer,
                         'runs_extras': Integer,
                         'runs_total': Integer,
                         'wicket_kind': String,
                         'player_out': String
                     })

print("DataFrames saved to SQLite successfully!")

# ---------- 5ï¸âƒ£ Quick test queries ----------
print(pd.read_sql("SELECT * FROM deliveries LIMIT 5", con=engine))
print(pd.read_sql("SELECT * FROM matches LIMIT 5", con=engine))

Parsing IPL folder: C:\py project\cricsheet_project\data\Raw\IPL
Parsing ODI folder: C:\py project\cricsheet_project\data\Raw\ODI
Parsing T20 folder: C:\py project\cricsheet_project\data\Raw\T20
Parsing TEST folder: C:\py project\cricsheet_project\data\Raw\TEST
Matches: (9618, 9)
Deliveries: (4601993, 12)
DataFrames saved to SQLite successfully!
  match_id match_type        date                 team  over     batter  \
0  1082591        IPL  2017-04-05  Sunrisers Hyderabad     0  DA Warner
1  1082591        IPL  2017-04-05  Sunrisers Hyderabad     0  DA Warner
2  1082591        IPL  2017-04-05  Sunrisers Hyderabad     0  DA Warner
3  1082591        IPL  2017-04-05  Sunrisers Hyderabad     0  DA Warner
4  1082591        IPL  2017-04-05  Sunrisers Hyderabad     0  DA Warner

     bowler  runs_batter  runs_extras  runs_total wicket_kind player_out
0  TS Mills            0            0           0        None       None
1  TS Mills            0            0           0        None       None
2  TS Mills            4            0           4        None       None
3  TS Mills            0            0           0        None       None
4  TS Mills            0            2           2        None       None
  match_id match_type        date                        team1  \
0  1082591        IPL  2017-04-05          Sunrisers Hyderabad
1  1082592        IPL  2017-04-06       Rising Pune Supergiant
2  1082593        IPL  2017-04-07                Gujarat Lions
3  1082594        IPL  2017-04-08              Kings XI Punjab
4  1082595        IPL  2017-04-08  Royal Challengers Bangalore

                         team2                       winner result_type  \
0  Royal Challengers Bangalore          Sunrisers Hyderabad        None
1               Mumbai Indians       Rising Pune Supergiant        None
2        Kolkata Knight Riders        Kolkata Knight Riders        None
3       Rising Pune Supergiant              Kings XI Punjab        None
4             Delhi Daredevils  Royal Challengers Bangalore        None

   result_by_runs  result_by_wickets
0            35.0                NaN
1             NaN                7.0
2             NaN               10.0
3             NaN                6.0
4            15.0                NaN

In [90]:
import os
import json
import pandas as pd
import logging
from sqlalchemy import create_engine, String, Integer, Date
from datetime import datetime
import traceback

logging.basicConfig(filename='cricsheet_parse.log', level=logging.INFO,
                    format='%(asctime)s %(levelname)s: %(message)s')

def normalize_string(s):
    return str(s).strip() if s else None

def parse_single_match(file_path, match_type):
    with open(file_path, 'r', encoding='utf-8') as f:
        data = json.load(f)
    info = data.get('info', {}) or {}
    match_id = os.path.splitext(os.path.basename(file_path))[0]

    # handle date
    dates = info.get('dates')
    if isinstance(dates, list) and dates: date = dates[0]
    elif isinstance(dates, str): date = dates
    else: date = None

    city = info.get('city')
    venue = info.get('venue')
    teams = info.get('teams') or []
    toss = info.get('toss') or {}
    outcome = info.get('outcome') or {}
    winner = outcome.get('winner')
    result_type = outcome.get('result')
    by = outcome.get('by')
    result_by_runs = by.get('runs') if isinstance(by, dict) else None
    result_by_wickets = by.get('wickets') if isinstance(by, dict) else None

    match_row = {
        'match_id': match_id,
        'match_type': match_type,
        'date': date,
        'city': city,
        'venue': venue,
        'team1': teams[0] if len(teams) > 0 else None,
        'team2': teams[1] if len(teams) > 1 else None,
        'toss_winner': toss.get('winner'),
        'toss_decision': toss.get('decision'),
        'winner': winner,
        'result_type': result_type,
        'result_by_runs': result_by_runs,
        'result_by_wickets': result_by_wickets
    }

    deliveries = []
    innings_list = data.get('innings', []) or []

    for inning in innings_list:
        inning_dict = inning.get('overs') is None and next(iter(inning.values()), {}) or inning
        team = inning_dict.get('team')
        for over in inning_dict.get('overs', []):
            over_number = over.get('over')
            for delivery in over.get('deliveries', []):
                if 'batter' not in delivery:
                    delivery = next(iter(delivery.values()))
                runs = delivery.get('runs', {})
                wicket_obj = delivery.get('wicket') if isinstance(delivery.get('wicket'), dict) else {}
                deliveries.append({
                    'match_id': match_id,
                    'match_type': match_type,
                    'date': date,
                    'city': city,
                    'team': team,
                    'over': over_number,
                    'ball_id': None,
                    'batter': normalize_string(delivery.get('batter')),
                    'non_striker': normalize_string(delivery.get('non_striker')),
                    'bowler': normalize_string(delivery.get('bowler')),
                    'runs_batter': runs.get('batter', 0),
                    'runs_extras': runs.get('extras', 0),
                    'runs_total': runs.get('total', runs.get('batter',0)+runs.get('extras',0)),
                    'wicket_kind': wicket_obj.get('kind'),
                    'player_out': normalize_string(wicket_obj.get('player_out'))
                })

    return match_row, deliveries

def parse_folder(folder_path, match_type):
    matches, deliveries = [], []
    files = [f for f in os.listdir(folder_path) if f.endswith('.json')]
    for f in files:
        try:
            m, d = parse_single_match(os.path.join(folder_path,f), match_type)
            matches.append(m)
            deliveries.extend(d)
        except Exception as e:
            logging.error(f"Failed parsing {f}: {e}\n{traceback.format_exc()}")
    return pd.DataFrame(matches), pd.DataFrame(deliveries)

# Paths to your folders
folders = {
    'IPL': r"C:\py project\cricsheet_project\data\Raw\IPL",
    'ODI': r"C:\py project\cricsheet_project\data\Raw\ODI",
    'T20': r"C:\py project\cricsheet_project\data\Raw\T20",
    'TEST': r"C:\py project\cricsheet_project\data\Raw\TEST"
}

all_matches, all_deliveries = [], []

for mtype, folder in folders.items():
    if not os.path.isdir(folder):
        print(f"Folder not found: {folder}, skipping {mtype}")
        continue
    print(f"Parsing {folder} as {mtype}")
    m_df, d_df = parse_folder(folder, mtype)
    all_matches.append(m_df)
    all_deliveries.append(d_df)
    print(f"  -> matches: {len(m_df)}, deliveries: {len(d_df)}")

matches_df = pd.concat(all_matches, ignore_index=True) if all_matches else pd.DataFrame()
deliveries_df = pd.concat(all_deliveries, ignore_index=True) if all_deliveries else pd.DataFrame()

# Fill missing winners and city safely
if 'winner' in matches_df.columns:
    matches_df['winner'] = matches_df['winner'].fillna('No Result')
if 'city' in matches_df.columns:
    matches_df['city'] = matches_df['city'].fillna('Unknown')
else:
    matches_df['city'] = 'Unknown'
if 'venue' not in matches_df.columns:
    matches_df['venue'] = None

# Convert dates
matches_df['date'] = pd.to_datetime(matches_df['date'], errors='coerce').dt.date
deliveries_df['date'] = pd.to_datetime(deliveries_df['date'], errors='coerce').dt.date

# SQLite save
engine = create_engine('sqlite:///cricsheet.db', echo=False)
matches_df.to_sql('matches', engine, if_exists='replace', index=False)
deliveries_df.to_sql('deliveries', engine, if_exists='replace', index=False)

print("Matches and deliveries saved safely to SQLite!")

# Quick column check
print("Matches columns:", matches_df.columns.tolist())
print("Deliveries columns:", deliveries_df.columns.tolist())
print(matches_df.head())
print(deliveries_df.head())

Parsing C:\py project\cricsheet_project\data\Raw\IPL as IPL
  -> matches: 1169, deliveries: 278205
Parsing C:\py project\cricsheet_project\data\Raw\ODI as ODI
  -> matches: 3000, deliveries: 1588920
Parsing C:\py project\cricsheet_project\data\Raw\T20 as T20
  -> matches: 4570, deliveries: 1034413
Parsing C:\py project\cricsheet_project\data\Raw\TEST as TEST
  -> matches: 879, deliveries: 1700455
Matches and deliveries saved safely to SQLite!
Matches columns: ['match_id', 'match_type', 'date', 'city', 'venue', 'team1', 'team2', 'toss_winner', 'toss_decision', 'winner', 'result_type', 'result_by_runs', 'result_by_wickets']
Deliveries columns: ['match_id', 'match_type', 'date', 'city', 'team', 'over', 'ball_id', 'batter', 'non_striker', 'bowler', 'runs_batter', 'runs_extras', 'runs_total', 'wicket_kind', 'player_out']
  match_id match_type        date       city  \
0  1082591        IPL  2017-04-05  Hyderabad
1  1082592        IPL  2017-04-06       Pune
2  1082593        IPL  2017-04-07     Rajkot
3  1082594        IPL  2017-04-08     Indore
4  1082595        IPL  2017-04-08  Bengaluru

                                       venue                        team1  \
0  Rajiv Gandhi International Stadium, Uppal          Sunrisers Hyderabad
1    Maharashtra Cricket Association Stadium       Rising Pune Supergiant
2     Saurashtra Cricket Association Stadium                Gujarat Lions
3                     Holkar Cricket Stadium              Kings XI Punjab
4                      M.Chinnaswamy Stadium  Royal Challengers Bangalore

                         team2                  toss_winner toss_decision  \
0  Royal Challengers Bangalore  Royal Challengers Bangalore         field
1               Mumbai Indians       Rising Pune Supergiant         field
2        Kolkata Knight Riders        Kolkata Knight Riders         field
3       Rising Pune Supergiant              Kings XI Punjab         field
4             Delhi Daredevils  Royal Challengers Bangalore           bat

                        winner result_type  result_by_runs  result_by_wickets
0          Sunrisers Hyderabad        None            35.0                NaN
1       Rising Pune Supergiant        None             NaN                7.0
2        Kolkata Knight Riders        None             NaN               10.0
3              Kings XI Punjab        None             NaN                6.0
4  Royal Challengers Bangalore        None            15.0                NaN
  match_id match_type        date       city                 team  over  \
0  1082591        IPL  2017-04-05  Hyderabad  Sunrisers Hyderabad     0
1  1082591        IPL  2017-04-05  Hyderabad  Sunrisers Hyderabad     0
2  1082591        IPL  2017-04-05  Hyderabad  Sunrisers Hyderabad     0
3  1082591        IPL  2017-04-05  Hyderabad  Sunrisers Hyderabad     0
4  1082591        IPL  2017-04-05  Hyderabad  Sunrisers Hyderabad     0

  ball_id     batter non_striker    bowler  runs_batter  runs_extras  \
0    None  DA Warner    S Dhawan  TS Mills            0            0
1    None  DA Warner    S Dhawan  TS Mills            0            0
2    None  DA Warner    S Dhawan  TS Mills            4            0
3    None  DA Warner    S Dhawan  TS Mills            0            0
4    None  DA Warner    S Dhawan  TS Mills            0            2

   runs_total wicket_kind player_out
0           0        None       None
1           0        None       None
2           4        None       None
3           0        None       None
4           2        None       None

In [105]:
# 1ï¸âƒ£ Top 10 Batsmen by total runs
query1 = """
-- Top 10 Batsmen by total runs
SELECT batter, match_type, SUM(runs_batter) AS total_runs
FROM deliveries
GROUP BY batter, match_type
ORDER BY total_runs DESC
LIMIT 10;
"""



# 3ï¸âƒ£ Team wins by match type
query3 = """
-- Team wins by match type
SELECT COALESCE(winner, 'No Result') AS team, match_type, COUNT(*) AS wins
FROM matches
GROUP BY team, match_type
ORDER BY wins DESC;
"""

# 4ï¸âƒ£ Average margin of victory
query4 = """
-- Average margin of victory
SELECT match_type, 
       AVG(COALESCE(runs_margin,0)) AS avg_runs_margin,
       AVG(COALESCE(wickets_margin,0)) AS avg_wickets_margin
FROM matches
GROUP BY match_type;
"""

# 5ï¸âƒ£ Matches per year
query5 = """
-- Matches per year
SELECT strftime('%Y', date) AS year, match_type, COUNT(*) AS matches_count
FROM matches
GROUP BY year, match_type
ORDER BY year;
"""

# 6ï¸âƒ£ Most common venues
query6 = """
-- Most common venues
SELECT COALESCE(venue,'Unknown') AS venue, match_type, COUNT(*) AS matches_count
FROM matches
GROUP BY venue, match_type
ORDER BY matches_count DESC
LIMIT 10;
"""

# 7ï¸âƒ£ Most frequent toss winners
query7 = """
-- Most frequent toss winners
SELECT COALESCE(toss_winner,'Unknown') AS toss_winner, match_type, COUNT(*) AS count
FROM matches
GROUP BY toss_winner, match_type
ORDER BY count DESC
LIMIT 10;
"""

# 8ï¸âƒ£ Most common toss decisions
query8 = """
-- Most common toss decisions
SELECT COALESCE(toss_decision,'Unknown') AS toss_decision, match_type, COUNT(*) AS count
FROM matches
GROUP BY toss_decision, match_type
ORDER BY count DESC;
"""

# 9ï¸âƒ£ Matches per city
query9 = """
-- Matches per city (handles missing city)
SELECT COALESCE(city,'Unknown') AS city, match_type, COUNT(*) AS matches_count
FROM matches
GROUP BY city, match_type
ORDER BY matches_count DESC;
"""




# 12ï¸âƒ£ Total extras per match type
query12 = """
-- Total extras per match type
SELECT match_type, SUM(COALESCE(runs_extras,0)) AS total_extras
FROM deliveries
GROUP BY match_type
ORDER BY total_extras DESC;
"""

# 13ï¸âƒ£ Matches won by batting first vs second
query13 = """
-- Matches won by batting first vs second
SELECT 
  CASE 
    WHEN toss_decision='bat' AND winner=team1 THEN 'Bat First Win'
    WHEN toss_decision='field' AND winner=team2 THEN 'Bat First Win'
    ELSE 'Other'
  END AS result_type,
  COUNT(*) AS matches_count
FROM matches
GROUP BY result_type;
"""



# 15ï¸âƒ£ Top scoring teams by match type
query15 = """
-- Top scoring teams by match type
SELECT team, match_type, SUM(COALESCE(runs_total,0)) AS total_runs
FROM deliveries
GROUP BY team, match_type
ORDER BY total_runs DESC
LIMIT 10;
"""

# 16ï¸âƒ£ Total balls bowled by each bowler
query16 = """
-- Total balls bowled by each bowler
SELECT bowler, match_type, COUNT(*) AS balls_bowled
FROM deliveries
WHERE bowler IS NOT NULL
GROUP BY bowler, match_type
ORDER BY balls_bowled DESC
LIMIT 10;
"""

# 17ï¸âƒ£ Most frequent non-strikers
query17 = """
-- Most frequent non-strikers
SELECT non_striker, match_type, COUNT(*) AS count
FROM deliveries
WHERE non_striker IS NOT NULL
GROUP BY non_striker, match_type
ORDER BY count DESC
LIMIT 10;
"""

# 18ï¸âƒ£ Average runs per ball by match type
query18 = """
-- Average runs per ball by match type
SELECT match_type, AVG(COALESCE(runs_total,0)) AS avg_runs_per_ball
FROM deliveries
GROUP BY match_type;
"""

# 19ï¸âƒ£ Matches played by each team
query19 = """
-- Matches played by each team
SELECT team, match_type, COUNT(DISTINCT match_id) AS matches_played
FROM deliveries
GROUP BY team, match_type
ORDER BY matches_played DESC
LIMIT 10;
"""

In [106]:
for title, sql in queries.items():
    print(f"\n===== {title} =====")
    try:
        df = pd.read_sql(sql, con=engine)
        print(df)
    except Exception as e:
        print(f"Error executing query: {e}")

===== top_batsmen =====
           batter match_type  total_runs
0         V Kohli        ODI       14059
1         JE Root       TEST       13543
2         AN Cook       TEST       12472
3   KC Sangakkara        ODI       11618
4       RG Sharma        ODI       10948
5       SPD Smith       TEST       10477
6        MS Dhoni        ODI       10274
7  AB de Villiers        ODI        9435
8   KS Williamson       TEST        9276
9         V Kohli       TEST        9230

===== top_bowlers =====
Empty DataFrame
Columns: [bowler, match_type, wickets]
Index: []

===== team_wins =====
                        team match_type  wins
0                  Australia        ODI   383
1                      India        ODI   374
2                    England        ODI   302
3               South Africa        ODI   298
4                  Sri Lanka        ODI   245
..                       ...        ...   ...
156                   Gambia        T20     1
157             ICC World XI        T20     1
158                   Jersey        ODI     1
159                 Slovenia        T20     1
160  Turks and Caicos Island        T20     1

[161 rows x 3 columns]

===== avg_margin_victory =====
  match_type  avg_runs_margin  avg_wickets_margin
0        IPL        13.761334            3.261762
1        ODI        35.807000            2.812000
2        T20        22.930853            3.161050
3       TEST        84.279863            1.782708

===== matches_per_year =====
    year match_type  matches_count
0   2001       TEST              1
1   2002        ODI              1
2   2002       TEST              2
3   2003        ODI            119
4   2003       TEST             21
..   ...        ...            ...
83  2024       TEST             53
84  2025        IPL             74
85  2025        ODI            125
86  2025        T20            604
87  2025       TEST             26

[88 rows x 3 columns]

===== common_venues =====
                                               venue match_type  matches_count
0                                 Harare Sports Club        ODI            124
1  Al Amerat Cricket Ground Oman Cricket (Ministr...        T20            101
2                Dubai International Cricket Stadium        T20             99
3      Gahanga International Cricket Stadium, Rwanda        T20             88
4                        Bayuemas Oval, Kuala Lumpur        T20             87
5                      Shere Bangla National Stadium        ODI             85
6                                       Eden Gardens        IPL             77
7      Gahanga International Cricket Stadium. Rwanda        T20             77
8                                   Wankhede Stadium        IPL             73
9                             Udayana Cricket Ground        T20             66

===== toss_winners =====
    toss_winner match_type  count
0     Australia        ODI    298
1         India        ODI    298
2       England        ODI    291
3     Sri Lanka        ODI    287
4  South Africa        ODI    256
5      Pakistan        ODI    250
6   New Zealand        ODI    242
7   West Indies        ODI    230
8      Pakistan        T20    200
9     Australia        T20    191

===== toss_decisions =====
  toss_decision match_type  count
0         field        T20   2411
1           bat        T20   2159
2         field        ODI   1524
3           bat        ODI   1476
4         field        IPL    764
5           bat       TEST    601
6           bat        IPL    405
7         field       TEST    278

===== matches_per_city =====
             city match_type  matches_count
0         Unknown        ODI            306
1     Kigali City        T20            237
2          Mumbai        IPL            180
3         Unknown        T20            179
4    Kuala Lumpur        T20            176
..            ...        ...            ...
536        Raipur        T20              1
537        Roseau       TEST              1
538          Sind        ODI              1
539     Worcester        T20              1
540      Wormsley        ODI              1

[541 rows x 3 columns]

===== matches_no_result =====
Empty DataFrame
Columns: [no_result_matches, match_type]
Index: []

===== highest_batter_scores =====
              batter match_type  highest_score
0          A Symonds       TEST              8
1          BV Vitori        T20              7
2         CJL Rogers       TEST              7
3          GH Worker        T20              7
4      KC Brathwaite       TEST              7
5          MJ Clarke       TEST              7
6            T Taibu        ODI              7
7           WA Young       TEST              7
8  A Aitken-Drummond        T20              6
9          A Akhigbe        T20              6

===== total_extras =====
  match_type  total_extras
0        T20         85783
1        ODI         78010
2       TEST         47530
3        IPL         18910

===== bat_first_win =====
  result_type  matches_count
0       Other           9142
1       Other            175
2       Other            210
3       Other             91

===== player_dismissals =====
Empty DataFrame
Columns: [wicket_kind, count]
Index: []

===== top_scoring_teams =====
           team match_type  total_runs
0       England       TEST      150497
1         India        ODI      149013
2     Australia        ODI      138483
3     Australia       TEST      130551
4       England        ODI      130350
5     Sri Lanka        ODI      121060
6         India       TEST      120690
7  South Africa        ODI      117599
8      Pakistan        ODI      112569
9   New Zealand        ODI      108042

===== balls_bowled =====
         bowler match_type  balls_bowled
0   JM Anderson       TEST         39114
1       NM Lyon       TEST         34507
2     SCJ Broad       TEST         33896
3      R Ashwin       TEST         27140
4  HMRKB Herath       TEST         23563
5    TG Southee       TEST         23557
6      I Sharma       TEST         19461
7     RA Jadeja       TEST         19337
8      MA Starc       TEST         19231
9      DW Steyn       TEST         18172

===== non_strikers =====
     non_striker match_type  count
0        AN Cook       TEST  27143
1        JE Root       TEST  25217
2      SPD Smith       TEST  20536
3        HM Amla       TEST  18805
4  KS Williamson       TEST  18214
5      Azhar Ali       TEST  17198
6     AD Mathews       TEST  16548
7        V Kohli       TEST  16387
8  KC Sangakkara       TEST  16142
9      CA Pujara       TEST  16064

===== avg_runs_per_ball =====
  match_type  avg_runs_per_ball
0        IPL           1.345350
1        ODI           0.826738
2        T20           1.095829
3       TEST           0.540165

===== matches_played_team =====
           team match_type  matches_played
0         India        ODI             619
1     Australia        ODI             569
2       England        ODI             553
3     Sri Lanka        ODI             549
4  South Africa        ODI             508
5      Pakistan        ODI             502
6   New Zealand        ODI             475
7   West Indies        ODI             471
8      Pakistan        T20             390
9         India        T20             385

===== matches_most_wickets =====
  match_id match_type  total_wickets
0  1000851       TEST              0
1  1000853       TEST              0
2  1000855       TEST              0
3  1000881       TEST              0
4  1000883       TEST              0
5  1000885       TEST              0
6  1000887        ODI              0
7  1000889        ODI              0
8  1000891        ODI              0
9  1000893        ODI              0

In [109]:
import sqlite3
import pandas as pd

# Connect to (or create) the SQLite database
conn = sqlite3.connect(r"C:\py project\cricsheet_project\cricsheet.sqlite")

# Save matches and deliveries to SQLite
matches_df.to_sql("matches", conn, if_exists="replace", index=False)
deliveries_df.to_sql("deliveries", conn, if_exists="replace", index=False)

print("Tables saved to SQLite successfully!")

Tables saved to SQLite successfully!

In [110]:
tables = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", conn)
print("Tables in DB:", tables)

Tables in DB:          name
0     matches
1  deliveries

In [113]:
import pandas as pd
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect("cricsheet.db")  # replace with your DB path

# Top 10 bowlers by balls bowled
top_bowlers = pd.read_sql("""
    SELECT bowler, match_type, COUNT(*) AS balls_bowled
    FROM deliveries
    WHERE bowler IS NOT NULL
    GROUP BY bowler, match_type
    ORDER BY balls_bowled DESC
    LIMIT 10;
""", conn)

print(top_bowlers)

         bowler match_type  balls_bowled
0   JM Anderson       TEST         39114
1       NM Lyon       TEST         34507
2     SCJ Broad       TEST         33896
3      R Ashwin       TEST         27140
4  HMRKB Herath       TEST         23563
5    TG Southee       TEST         23557
6      I Sharma       TEST         19461
7     RA Jadeja       TEST         19337
8      MA Starc       TEST         19231
9      DW Steyn       TEST         18172

In [120]:
import pandas as pd
import sqlite3

# Connect to your SQLite database
conn = sqlite3.connect("cricsheet.db")

# 1ï¸âƒ£ Most frequent non-strikers
most_frequent_non_strikers = pd.read_sql("""
    SELECT non_striker, match_type, COUNT(*) AS appearances
    FROM deliveries
    WHERE non_striker IS NOT NULL
    GROUP BY non_striker, match_type
    ORDER BY appearances DESC
    LIMIT 10;
""", conn)

# 2ï¸âƒ£ Highest individual scores (per innings)
highest_individual_scores = pd.read_sql("""
    SELECT batter, match_type, MAX(runs_batter) AS highest_score
    FROM deliveries
    GROUP BY batter, match_type
    ORDER BY highest_score DESC
    LIMIT 10;
""", conn)

# 3ï¸âƒ£ Matches with most total runs
matches_most_runs = pd.read_sql("""
    SELECT match_id, match_type, SUM(runs_total) AS total_match_runs
    FROM deliveries
    GROUP BY match_id, match_type
    ORDER BY total_match_runs DESC
    LIMIT 10;
""", conn)

# 4ï¸âƒ£ Average wickets per match per format
avg_wickets_per_match = pd.read_sql("""
    SELECT match_type, 
           ROUND(SUM(CASE WHEN player_out IS NOT NULL THEN 1 ELSE 0 END)*1.0/COUNT(DISTINCT match_id), 2) AS avg_wickets
    FROM deliveries
    GROUP BY match_type
    ORDER BY avg_wickets DESC;
""", conn)

# Display results
print("===== Most Frequent Non-Strikers =====")
print(most_frequent_non_strikers, "\n")

print("===== Highest Individual Scores =====")
print(highest_individual_scores, "\n")

print("===== Matches with Most Total Runs =====")
print(matches_most_runs, "\n")

print("===== Average Wickets per Match =====")
print(avg_wickets_per_match, "\n")

# Close connection
conn.close()

===== Most Frequent Non-Strikers =====
     non_striker match_type  appearances
0        AN Cook       TEST        27143
1        JE Root       TEST        25217
2      SPD Smith       TEST        20536
3        HM Amla       TEST        18805
4  KS Williamson       TEST        18214
5      Azhar Ali       TEST        17198
6     AD Mathews       TEST        16548
7        V Kohli       TEST        16387
8  KC Sangakkara       TEST        16142
9      CA Pujara       TEST        16064

===== Highest Individual Scores =====
              batter match_type  highest_score
0          A Symonds       TEST              8
1          BV Vitori        T20              7
2         CJL Rogers       TEST              7
3          GH Worker        T20              7
4      KC Brathwaite       TEST              7
5          MJ Clarke       TEST              7
6            T Taibu        ODI              7
7           WA Young       TEST              7
8  A Aitken-Drummond        T20              6
9          A Akhigbe        T20              6

===== Matches with Most Total Runs =====
  match_id match_type  total_match_runs
0  1330871       TEST              1768
1    64062       TEST              1747
2   233797       TEST              1702
3  1448350       TEST              1692
4  1276902       TEST              1675
5  1448349       TEST              1673
6   892511       TEST              1672
7   352663       TEST              1628
8   602472       TEST              1613
9   743939       TEST              1610

===== Average Wickets per Match =====
  match_type  avg_wickets
0       TEST          0.0
1        T20          0.0
2        ODI          0.0
3        IPL          0.0

In [124]:
import pandas as pd
import sqlite3
import json

conn = sqlite3.connect("cricsheet.db")

# Load deliveries table
df = pd.read_sql("SELECT * FROM deliveries", conn)

# Extract batter and total runs from JSON
if 'runs' in df.columns:
    df['runs_batter'] = df['runs'].apply(lambda x: x['batter'] if isinstance(x, dict) else 0)
    df['runs_total']  = df['runs'].apply(lambda x: x['total'] if isinstance(x, dict) else 0)

# Save back to DB if you want SQL queries to work
df.to_sql("deliveries_clean", conn, if_exists="replace", index=False)

4601993

In [126]:
import sqlite3
conn = sqlite3.connect("cricsheet.db")
cursor = conn.cursor()

cursor.execute("PRAGMA table_info(deliveries);")
columns = cursor.fetchall()
for col in columns:
    print(col)

(0, 'match_id', 'TEXT', 0, None, 0)
(1, 'match_type', 'TEXT', 0, None, 0)
(2, 'date', 'DATE', 0, None, 0)
(3, 'city', 'TEXT', 0, None, 0)
(4, 'team', 'TEXT', 0, None, 0)
(5, 'over', 'BIGINT', 0, None, 0)
(6, 'ball_id', 'TEXT', 0, None, 0)
(7, 'batter', 'TEXT', 0, None, 0)
(8, 'non_striker', 'TEXT', 0, None, 0)
(9, 'bowler', 'TEXT', 0, None, 0)
(10, 'runs_batter', 'BIGINT', 0, None, 0)
(11, 'runs_extras', 'BIGINT', 0, None, 0)
(12, 'runs_total', 'BIGINT', 0, None, 0)
(13, 'wicket_kind', 'TEXT', 0, None, 0)
(14, 'player_out', 'TEXT', 0, None, 0)

In [140]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect("cricsheet.db")

# List of 20 queries with descriptive names
queries = {
    "01. Top 10 Batsmen by Total Runs": """
        SELECT batter, SUM(runs_batter) AS total_runs
        FROM deliveries
        GROUP BY batter
        ORDER BY total_runs DESC
        LIMIT 10;
    """,

    "02. Highest Team Scores per Match": """
        SELECT match_id, team, SUM(runs_total) AS total_runs
        FROM deliveries
        GROUP BY match_id, team
        ORDER BY total_runs DESC
        LIMIT 10;
    """,

    "03. Matches Won by Each Team": """
        SELECT winner, COUNT(*) AS wins
        FROM matches
        WHERE winner IS NOT NULL
        GROUP BY winner
        ORDER BY wins DESC;
    """,

    "04. Matches Per Year": """
        SELECT strftime('%Y', date) AS year, COUNT(*) AS matches_count
        FROM matches
        GROUP BY year
        ORDER BY year;
    """,

    "05. Toss Wins vs Match Wins": """
        SELECT toss_winner, winner, COUNT(*) AS count
        FROM matches
        GROUP BY toss_winner, winner
        ORDER BY count DESC;
    """,

    "06. Most Common Toss Decision": """
        SELECT toss_decision, COUNT(*) AS frequency
        FROM matches
        GROUP BY toss_decision
        ORDER BY frequency DESC;
    """,

    "07. Average Runs Per Over by Team": """
        SELECT team,
               ROUND(SUM(runs_total)*1.0/COUNT(DISTINCT match_id || '-' || over), 3) AS avg_runs_per_over
        FROM deliveries
        GROUP BY team
        ORDER BY avg_runs_per_over DESC;
    """,

    "08. Top Batsmen by Average Runs": """
        SELECT batter, ROUND(SUM(runs_batter)*1.0/COUNT(DISTINCT match_id), 2) AS batting_avg
        FROM deliveries
        GROUP BY batter
        ORDER BY batting_avg DESC
        LIMIT 10;
    """,

    "09. Top Teams by Total Runs": """
        SELECT team, SUM(runs_total) AS total_runs
        FROM deliveries
        GROUP BY team
        ORDER BY total_runs DESC
        LIMIT 10;
    """,

    "10. Top Batsmen by Boundaries": """
        SELECT batter,
               SUM(CASE WHEN runs_batter=4 THEN 1 ELSE 0 END) AS fours,
               SUM(CASE WHEN runs_batter=6 THEN 1 ELSE 0 END) AS sixes
        FROM deliveries
        GROUP BY batter
        ORDER BY (fours + sixes) DESC
        LIMIT 10;
    """,

    "11. Matches per City": """
        SELECT city, COUNT(*) AS matches_count
        FROM matches
        GROUP BY city
        ORDER BY matches_count DESC
        LIMIT 10;
    """,

    "12. Average Runs per Over by Venue": """
        SELECT m.venue,
       ROUND(SUM(d.runs_total)*1.0/COUNT(DISTINCT d.match_id || '-' || d.over), 2) AS avg_runs_per_over
FROM deliveries d
JOIN matches m ON d.match_id = m.match_id
WHERE m.venue IS NOT NULL
GROUP BY m.venue
ORDER BY avg_runs_per_over DESC
LIMIT 10;
""",

    "13. Top Bowlers by Economy Rate": """
        SELECT bowler,
               ROUND(SUM(runs_total)*6.0/COUNT(*), 2) AS economy_rate
        FROM deliveries
        WHERE bowler IS NOT NULL
        GROUP BY bowler
        ORDER BY economy_rate ASC
        LIMIT 10;
    """,

    "14. Total Sixes by Batter": """
        SELECT batter, COUNT(*) AS sixes
        FROM deliveries
        WHERE runs_batter = 6
        GROUP BY batter
        ORDER BY sixes DESC
        LIMIT 10;
    """,

    "15. Total Fours by Batter": """
        SELECT batter, COUNT(*) AS fours
        FROM deliveries
        WHERE runs_batter = 4
        GROUP BY batter
        ORDER BY fours DESC
        LIMIT 10;
    """,

    "16. Most Successful Teams by Match Type": """
        SELECT match_type, winner, COUNT(*) AS wins
        FROM matches
        WHERE winner IS NOT NULL
        GROUP BY match_type, winner
        ORDER BY match_type, wins DESC;
    """,

    "17. Matches with No Result": """
        SELECT COUNT(*) AS no_result_matches
        FROM matches
        WHERE winner IS NULL;
    """,

    "18. Team Win % when Batting First": """
        SELECT winner,
               ROUND(100.0*SUM(CASE WHEN toss_winner = winner THEN 1 ELSE 0 END)/COUNT(*),2) AS win_percent
        FROM matches
        GROUP BY winner
        ORDER BY win_percent DESC;
    """,

    "19. Top 10 Teams by Average Runs per Match": """
        SELECT team, ROUND(SUM(runs_total)*1.0/COUNT(DISTINCT match_id), 2) AS avg_runs_per_match
        FROM deliveries
        GROUP BY team
        ORDER BY avg_runs_per_match DESC
        LIMIT 10;
    """,

    "20. Batsmen with Most Dot Balls": """
        SELECT batter, COUNT(*) AS dot_balls
        FROM deliveries
        WHERE runs_batter = 0
        GROUP BY batter
        ORDER BY dot_balls DESC
        LIMIT 10;
    """
}

# Execute all queries and print results
for title, query in queries.items():
    print(f"\n===== {title} =====")
    try:
        df = pd.read_sql(query, conn)
        print(df)
    except Exception as e:
        print(f"Error executing query: {e}")

# Close the connection
conn.close()

===== 01. Top 10 Batsmen by Total Runs =====
           batter  total_runs
0         V Kohli       35929
1       RG Sharma       26339
2       DA Warner       25230
3  AB de Villiers       24389
4   KC Sangakkara       23176
5        MS Dhoni       22018
6         JE Root       21326
7   KS Williamson       21069
8       SPD Smith       19730
9         HM Amla       18829

===== 02. Highest Team Scores per Match =====
  match_id        team  total_runs
0   233797    Pakistan        1078
1  1448350       India        1014
2   892511   Australia         944
3  1330871     England         921
4    64062       India         916
5   297808       India         910
6   602472   Sri Lanka         905
7   690349   Sri Lanka         892
8   858493  Bangladesh         887
9   352663     England         879

===== 03. Matches Won by Each Team =====
           winner  wins
0       Australia   740
1           India   719
2         England   649
3    South Africa   563
4     New Zealand   490
..            ...   ...
117      Slovenia     1
118  ICC World XI     1
119        Gambia     1
120      Barbados     1
121     Africa XI     1

[122 rows x 2 columns]

===== 04. Matches Per Year =====
    year  matches_count
0   2001              1
1   2002              3
2   2003            140
3   2004             96
4   2005             91
5   2006            167
6   2007            220
7   2008            221
8   2009            270
9   2010            268
10  2011            276
11  2012            311
12  2013            329
13  2014            319
14  2015            304
15  2016            337
16  2017            339
17  2018            430
18  2019            611
19  2020            253
20  2021            604
21  2022            999
22  2023            958
23  2024           1242
24  2025            829

===== 05. Toss Wins vs Match Wins =====
       toss_winner                winner  count
0        Australia             Australia    383
1            India                 India    352
2          England               England    334
3     South Africa          South Africa    287
4         Pakistan              Pakistan    251
...            ...                   ...    ...
1253       Vanuatu                 Japan      1
1254       Vanuatu  United Arab Emirates      1
1255      Zimbabwe                 Kenya      1
1256      Zimbabwe              Scotland      1
1257      Zimbabwe               Vanuatu      1

[1258 rows x 3 columns]

===== 06. Most Common Toss Decision =====
  toss_decision  frequency
0         field       4977
1           bat       4641

===== 07. Average Runs Per Over by Team =====
                            team  avg_runs_per_over
0    Royal Challengers Bengaluru              9.864
1                 Gujarat Titans              9.032
2                   Punjab Kings              8.994
3           Lucknow Super Giants              8.984
4                 Delhi Capitals              8.529
..                           ...                ...
122                        China              3.842
123                         Mali              2.978
124                        Chile              2.705
125                     Mongolia              2.465
126                  Ivory Coast              1.853

[127 rows x 2 columns]

===== 08. Top Batsmen by Average Runs =====
          batter  batting_avg
0     MM English       107.00
1  G Van Heerden       107.00
2       SR Waugh        87.50
3      JL Langer        84.96
4         H Kala        84.00
5     CJL Rogers        80.60
6    OJ Phillips        80.00
7        A Rawat        76.50
8     Asim Kamal        73.00
9    WJ Pucovski        72.00

===== 09. Top Teams by Total Runs =====
           team  total_runs
0       England      335311
1         India      327317
2     Australia      321059
3  South Africa      264194
4     Sri Lanka      255977
5      Pakistan      247775
6   New Zealand      242243
7   West Indies      223423
8    Bangladesh      166483
9      Zimbabwe      110781

===== 10. Top Batsmen by Boundaries =====
           batter  fours  sixes
0         V Kohli   3466    591
1       RG Sharma   2501    925
2       DA Warner   2752    553
3  AB de Villiers   2318    570
4   KC Sangakkara   2415    163
5        CH Gayle   1757    821
6        MS Dhoni   1799    599
7        S Dhawan   2096    290
8   KS Williamson   2119    210
9        V Sehwag   1981    291

===== 11. Matches per City =====
           city  matches_count
0       Unknown            634
1        Mumbai            249
2   Kigali City            237
3       Colombo            234
4         Dubai            194
5     Abu Dhabi            192
6  Kuala Lumpur            190
7        London            184
8     Al Amarat            169
9       Kolkata            137

===== 12. Average Runs per Over by Venue =====
                                               venue  avg_runs_per_over
0  Maharaja Yadavindra Singh International Cricke...              21.80
1                            Marrara Stadium, Darwin              18.05
2                     Sawai Mansingh Stadium, Jaipur              17.95
3       Punjab Cricket Association IS Bindra Stadium              17.38
4                            Sky Stadium, Wellington              17.37
5                          Brabourne Stadium, Mumbai              17.26
6            Dr DY Patil Sports Academy, Navi Mumbai              17.23
7                Barsapara Cricket Stadium, Guwahati              17.18
8                                             Bready              17.15
9                            Gucherre Cricket Ground              16.88

===== 13. Top Bowlers by Economy Rate =====
            bowler  economy_rate
0         A Hewage          0.00
1           A Lyth          0.00
2     AC Gilchrist          0.00
3      C Kauripeke          0.00
4       KOA Powell          0.00
5     M Terblanche          0.00
6  Mohammad Yousuf          0.00
7       RV Uthappa          0.00
8      TJ Ramphoma          0.00
9      MS Sinclair          0.33

===== 14. Total Sixes by Batter =====
           batter  sixes
0       RG Sharma    925
1        CH Gayle    821
2        MS Dhoni    599
3         V Kohli    591
4  AB de Villiers    570
5      JC Buttler    553
6       DA Warner    553
7     BB McCullum    494
8      KA Pollard    451
9      GJ Maxwell    449

===== 15. Total Fours by Batter =====
           batter  fours
0         V Kohli   3466
1       DA Warner   2752
2       RG Sharma   2501
3   KC Sangakkara   2415
4  AB de Villiers   2318
5         HM Amla   2151
6   KS Williamson   2119
7         JE Root   2108
8        S Dhawan   2096
9       SPD Smith   1988

===== 16. Most Successful Teams by Match Type =====
    match_type                       winner  wins
0          IPL               Mumbai Indians   151
1          IPL          Chennai Super Kings   142
2          IPL        Kolkata Knight Riders   135
3          IPL  Royal Challengers Bangalore   114
4          IPL             Rajasthan Royals   114
..         ...                          ...   ...
156       TEST                     Pakistan    55
157       TEST                  West Indies    37
158       TEST                   Bangladesh    21
159       TEST                     Zimbabwe     5
160       TEST                      Ireland     2

[161 rows x 3 columns]

===== 17. Matches with No Result =====
   no_result_matches
0                  0

===== 18. Team Win % when Batting First =====
            winner  win_percent
0           Gambia       100.00
1          Asia XI       100.00
2    Gujarat Lions        76.92
3          Bahamas        75.00
4           Sweden        70.00
..             ...          ...
117        Lesotho         0.00
118         Israel         0.00
119   ICC World XI         0.00
120       Barbados         0.00
121      Africa XI         0.00

[122 rows x 2 columns]

===== 19. Top 10 Teams by Average Runs per Match =====
           team  avg_runs_per_match
0       England              278.73
1     Australia              278.21
2         India              267.63
3  South Africa              255.51
4     Sri Lanka              247.08
5   New Zealand              245.43
6     Africa XI              242.20
7       Asia XI              237.80
8      Pakistan              236.65
9   West Indies              228.92

===== 20. Batsmen with Most Dot Balls =====
             batter  dot_balls
0           AN Cook      22617
1           V Kohli      21996
2           JE Root      20061
3     KC Sangakkara      19957
4     KS Williamson      19105
5           HM Amla      18579
6         SPD Smith      18319
7    AB de Villiers      16550
8        AD Mathews      16435
9  DPMD Jayawardene      15810

In [ ]:
# Quick sanity checks
print(matches.info())
print(deliveries.info())

# Check missing values
print(matches.isna().sum()
print(deliveries.isna().sum())

NameError: name 'matches' is not defined